{% extends "base.html" %}

<!-- Content override -->
{% block content %}
<!-- If you have to define styles, etc, you need to have a html template tag
     It basically lets you put a page inside a page.. Since styles/scripts need
     to be definied within the <head  /> tags, we have to simulate that here.-->
{% block html %}
<head>
<style type="text/css"> 
    html { height:100%}
    body { height:100%; margin 0px; padding: 0px}
    #map_canvas { height:100%}
</style>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3xadTdJ57fBnlrJLmggZdxxHFdTpPPvA&sensor=false"></script>
<script type="text/javascript">
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(35.30975, -83.18466),
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
                                      mapOptions);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>
    <body>
        <div id="map_canvas" style="width:100%; height:900px"></div>
    </body>
</html>
{% endblock %}
{% endblock %}

<!-- Sidebar override -->
{% block sidebar %}
<ul id="side-menu">                                         
    <li class="first"><a href="#">Route Key</a>             
    <ul id="side-menu-5938">                                
        <li class="first"><a href="#">All-Campus</a></li>  
        <li class="first"><a href="#">Village Express</a></li>  
        <li class="first"><a href="#">H&HS Express</a></li>  
        <li class="first"><a href="#">Off-Campus North</a></li>  
        <li class="first"><a href="#">Off-Campus South</a></li>  
    </ul>                                                   
    </li>                                                   
    <li class="last"><a href="#">Stop Key </a>              
    <ul id="side-menu-68085">
        <select id="content-lb" class="content" size="20">
        <option value="1"> N. Baseball </option>
        <option value="2"> S. Baseball </option>
        <option value="3"> Ramsey </option>
        <option value="4"> Field House </option>
        <option value="5"> Bardo Arts Center </option>
        <option value="6"> Dining Hall </option>
        <option value="7"> Walker </option>
        <option value="8"> Village </option>
        <option value="9"> Norton </option>
        <option value="10"> UC </option>
        <option value="11"> Library </option>
        <option value="12"> Moore </option>
        <option value="13"> Reynolds </option>
        <option value="14"> McKee </option>
        <option value="15"> Albright/Benton </option>
        <option value="16"> Harrill </option>
        <option value="17"> Central </option>
        <option value="18"> OneStop </option>
        <option value="19"> Coulter </option>
        <option value="20"> Kimmell </option>
        </select> 
    </ul>                                                   
    </li>                                                   
    <!--
            <li class="last"><a href="#">Stop Key </a>                                  
        <ul id="side-menu-68085">                                                   
            <li class="first">                                                      
            <a href=""> N. Baseball </a> </li>                                      
            <li><a href=""> S. Baseball </a></li>                                   
            <li> <a href=""> Ramsey </a></li>                                       
            <li> <a href=""> Field House </a></li>                                  
            <li> <a href=""> Bardo Arts Center </a></li>                            
            <li> <a href=""> Dining Hall </a></li>                                  
            <li> <a href=""> Walker </a></li>                                       
            <li> <a href=""> Village </a></li>                                      
            <li> <a href=""> Norton </a></li>                                       
            <li> <a href=""> UC </a></li>                                           
            <li> <a href=""> Library </a></li>                                      
            <li> <a href=""> Moore </a></li>                                        
            <li> <a href=""> Reynolds </a></li>                                     
            <li> <a href=""> McKee </a></li>                                        
            <li> <a href=""> Albright/Benton </a></li>                              
            <li> <a href=""> Harrill </a></li>                                      
            <li> <a href=""> Central </a></li>                                      
            <li> <a href=""> OneStop </a></li>                                      
            <li> <a href=""> Coulter </a></li>                                      
            <li class="last"> <a href=""> Kimmell </a></li>                         
        </ul>                                                                       
        </li> 
   -->
</ul>
{% endblock %}
