{% extends "colbase.html" %}
{% load static %}

<!-- Heading override -->
{% block section_header %}
<h2> About Us</h2>
{% endblock %}
<!-- Content override -->
{% block content %}
    <div style="margin:auto 0;text-align:center">
        <p>Hello, and welcome to "TranTracker"!
        <br>
        Thanks for finding our website. This application is currently in development
            with hopes to create an industry leading,  vehicle-tracking system with 
            environmental sustainability in mind.
        <br>
        If you have any questions, feel free to contact us via our
            <a href="../contact/">'contact us'</a> page.
    </div>
{% endblock %}

<!-- Sidebar override -->
{% block sidebar %}
{% endblock %}
