<!DOCTYPE html>
<html>
<head>
    <title>Where's Da Bus?</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link id="main-css" href="../static/css/main.css" rel="stylesheet"/>
    <meta http-equiv="description" content="">
    <meta http-equiv="keywords" content="">
    {% block header %}
    {% endblock %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-44804074-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body class="products_results">
<div id="header-wrapper">
    <div id="header" class="content">
        <div class="logo">
            <a href="/"><img id="header-logo" alt="My Site" src="../static/images/logo.png"/></a>
        </div>
        <ul id="header-menu">
            <li class="first"></li>
            <li class="last"></li>
        </ul>
    </div>
</div>

<div id="top-wrapper">
    <div id="top" class="content">
        <ul id="top-menu">
            <li class="first"><a href="/" rel="">Home</a></li>
            <li><a href="/chat/">Shuttle Speak</a></li>
            <li><a href="/help/">Help</a></li>
            <li><a href="/contact/">Contact Us</a></li>
            <li><a href="/about/">About Us</a></li>
        </ul>
    </div>
</div>
<div id="content-wrapper">
    <div id="content" class="content">
        <div id="sidebar">
            {% block sidebar %}
            {% endblock %}
        </div>

        <div id="page">
            {% block content %}
                <p>Content here, boss.</p>
            {% endblock %}
        </div>
    </div>


    <div id="top-wrapper" class="content">
        <div id="top" class="content">
            <ul id="top-menu">
                <li class="first"><a href="#" rel="">FAQ</a></li>
                <li class=""><a href="#" rel="">Privacy Policy</a></li>
                <li><a href="#" rel="">Terms of Use</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
