{% extends "colbase.html" %}
{% load static %}
{% block section_header %}
<!--Leaving empty intentionally -->
{% endblock %}
<!-- Content override -->
{% block content %}
    <iframe style="width:90%;margin:0 auto;display:block"
            src="https://docs.google.com/forms/d/1GeqW4rr59FznF5pZUVPOQAXi_pSopbh3_-JsvywPs6g/viewform?embedded=true"
            height="600" frameborder="0" marginheight="0" marginwidth="0"></iframe>

{% endblock %}

<!-- Sidebar override -->
{% block sidebar %}
{% endblock %}
