{% extends "base.html" %}
{% load static %}

<!-- Content override -->
{% block content %}
    <p><h3>Taking a ride on the struggle bus?</h3><br><h3>No worries! We're here to
    help.</p><br>
    Each shuttle is represented by a purple paw print.<br> Each stop is
    represented by a stop sign.<br> You may select a particular route from the
    right to see if the a shuttle on that route will pass by a certain stop. <br>
    You can also select a particular stop from the list on the right to see where
    it is located on the map.<br><br>If any questions arise in the meantime,
    please feel freeto contact us via the <a href="../contact/">'Contact Us'</a>
    page!</h3>
{% endblock %}

<!-- Sidebar override -->
{% block sidebar %}
{% endblock %}
