{% extends "base.html" %}
{% load static %}
{% load geojson_tags %}
<!-- Head embed -->
{% block head %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
{% endblock %}
<!-- Content override -->
{% block content %}
<div id="map" style="height:790px"></div>
<script>
var map;
//holds latlng points for route polyline
var route = new Array();
var shuttles = new Array();
var stopIcon = L.icon({
        iconUrl:"/static/images/stopMarker.ico",
        iconSize:[20,20]
        });
var shuttleIcon = L.icon({
        iconUrl:"/static/images/shuttle.png",
        iconSize:[20,20]
        });

function pushLatLngToArray(lnglat) {
    //split lngLat to individual components
    var latLngCoord = lnglat.replace(/[()]/g,'').split(", ");
    //create latlng from lnglat's position and push to array
    route.push(L.latLng(latLngCoord[1],latLngCoord[0])); 
}

function addRoute() {
    {% for route in routes %}
        pushLatLngToArray("{{route}}");
    {% endfor %}
    L.polyline(route, {color: 'red'}).addTo(map);
}
    
function addShuttles() {
    clearShuttles();
    downloadUrl("/static/genxml.php",function(data) {
        var xml = data.responseXML;
        //holds all elements of tag "marker".
        var markers = xml.documentElement.getElementsByTagName("marker");
        //get info from each element and buld marker for map
        for (var i = 0; i < markers.length; i++) {
            var vid = markers[i].childNodes[0].textContent;
            var name =  markers[i].childNodes[1].textContent;

            //The location where the marker is to be placed.
            var point = L.latLng(
                    parseFloat(markers[i].childNodes[2].textContent),
                    parseFloat(markers[i].childNodes[3].textContent));
            var eta = markers[i].childNodes[5].textContent;
            var etaSeconds = eta*60;
            var etaActual = new Date(null, null, null, null, null, 
                etaSeconds).toTimeString().match(/:\d{2}:\d{2}/)[0]; 
            var nextStop = markers[i].childNodes[6].textContent;

            //Distance between shuttle and stop.
            var shuttle;
            var stop;      

            //The info that is displayed when a marker is clicked.
            var html = "<div id=\"name\"><b>" + name + "</b></div>" + 
                       "<div id=\"stop\">Next Stop: " + nextStop 
                       + "</div><div id= \"eta\">ETA: " + etaActual + "</div>";
            shuttles.push(L.marker(point, {icon:shuttleIcon,title:name})
                                                   .bindPopup(html));
            map.addLayer(shuttles[shuttles.length-1]);
        }
    });
}

function clearShuttles() {
    for(var i = 0; i < shuttles.length; i++) {
        map.removeLayer(shuttles[i]); 
    }
    shuttles = new Array();

}

function doNothing() {}

function addStops() {
    {% for stop in stops %}
        L.marker(L.latLng({{stop.mpoint.y}},{{stop.mpoint.x}}),
                                  {icon:stopIcon,title: "{{stop}}"}).addTo(map);
    {% endfor %}
}

function swapCoordValues(route) {
    var latLngCoord = route.replace(/[()]/g,'').split(",");
    return latLngCoord;
}

/**
 * Downloads a specified XML file and returns its contents.
 *
 * @param url      - the url of the file to download
 * @param callback - function to run after download has processed.
 */
function downloadUrl(url, callback) {
    var request = window.ActiveXObject ?
            new ActiveXObject('Microsoft.XMLHTTP') :
            new XMLHttpRequest;

    request.onreadystatechange = function () {
        if (request.readyState == 4) {
            request.onreadystatechange = doNothing;
            callback(request, request.status);
        }
    };

    request.open('GET', url, true);
    request.send(null);
}

var culloLatLng = [35.30872, -83.18432];
map = L.map('map').setView(culloLatLng, 15);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ', 
            id: 'examples.map-i86knfo3'
        }).addTo(map);
        //Add routes
        addRoute();        
        //Add Stops
        addStops();
        //Add shuttles
        addShuttles();
        //Update shuttles every 3 seconds
        setInterval(function() { addShuttles()},3000);
</script>

{% endblock %}

<!-- Sidebar override -->
{% block sidebar %}
    <ul id="side-menu">
        <div class="first">
        <li class="first">Routes
            <ul id="first2">
                <li class="first"><a onClick="toggleRoute(0);">All-Campus</a></li>
                <li class="first"><a onClick="toggleRoute(1);">Village Express</a></li>
                <li class="first"><a onClick="toggleRoute(2);">HHS Express</a></li>
                <li class="first"><a onClick="toggleRoute(3);">Off-Campus North</a></li>
                <li class="first"><a onClick="toggleRoute(4);">Off-Campus South</a></li>
            </ul>
        </li>
        </div>
        <div class = "last">
        <li class="last">Stops
            <ul>
                <select class="content" size="20">
                    <option onClick="bounceMarker(0);" value="1"> N. Baseball</option>
                    <option onClick="bounceMarker(1);" value="2"> S. Baseball</option>
                    <option onClick="bounceMarker(2);" value="3"> Ramsey</option>
                    <option onClick="bounceMarker(3);" value="4"> Field House</option>
                    <option onClick="bounceMarker(4);" value="5"> Bardo Arts Center</option>
                    <option onClick="bounceMarker(5);" value="6"> Dining Hall</option>
                    <option onClick="bounceMarker(6);" value="7"> Walker</option>
                    <option onClick="bounceMarker(7);" value="8"> Village</option>
                    <option onClick="bounceMarker(8);" value="9"> Norton</option>
                    <option onClick="bounceMarker(9);" value="10"> UC</option>
                    <option onClick="bounceMarker(10);" value="11"> Library</option>
                    <option onClick="bounceMarker(11);" value="12"> Moore</option>
                    <option onClick="bounceMarker(12);" value="13"> Reynolds</option>
                    <option onClick="bounceMarker(13);" value="14"> McKee</option>
                    <option onClick="bounceMarker(14);" value="15"> Albright/Benton</option>
                    <option onClick="bounceMarker(15);" value="16"> Harrill</option>
                    <option onClick="bounceMarker(16);" value="17"> Central</option>
                    <option onClick="bounceMarker(17);" value="18"> OneStop</option>
                    <option onClick="bounceMarker(18);" value="19"> Coulter</option>
                    <option onClick="bounceMarker(19);" value="20"> Kimmell</option>
                </select>
            </ul>
            <button type="button" onClick="clearStopMarkers();">Clear Markers</button>
        </li>
        </div>
    </ul>
{% endblock %}
