{% extends "base.html" %}
{% load static %}
{% load geojson_tags %}
<!-- Head embed -->
{% block head %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
{% endblock %}
<!-- Content override -->
{% block content %}
<div id="map" style="height:790px"></div>
<script>

var culloLatLng = [35.30872, -83.18432];
var map = L.map('map').setView(culloLatLng, 15);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ', 
            id: 'examples.map-i86knfo3'
        }).addTo(map);
</script>

{% endblock %}

<!-- Sidebar override -->
{% block sidebar %}
    <ul id="side-menu">
        <div class="first">
        <li class="first">Routes
            <ul id="first2">
                <li class="first"><a onClick="toggleRoute(0);">All-Campus</a></li>
                <li class="first"><a onClick="toggleRoute(1);">Village Express</a></li>
                <li class="first"><a onClick="toggleRoute(2);">HHS Express</a></li>
                <li class="first"><a onClick="toggleRoute(3);">Off-Campus North</a></li>
                <li class="first"><a onClick="toggleRoute(4);">Off-Campus South</a></li>
            </ul>
        </li>
        </div>
        <div class = "last">
        <li class="last">Stops
            <ul>
                <select class="content" size="20">
                    <option onClick="bounceMarker(0);" value="1"> N. Baseball</option>
                    <option onClick="bounceMarker(1);" value="2"> S. Baseball</option>
                    <option onClick="bounceMarker(2);" value="3"> Ramsey</option>
                    <option onClick="bounceMarker(3);" value="4"> Field House</option>
                    <option onClick="bounceMarker(4);" value="5"> Bardo Arts Center</option>
                    <option onClick="bounceMarker(5);" value="6"> Dining Hall</option>
                    <option onClick="bounceMarker(6);" value="7"> Walker</option>
                    <option onClick="bounceMarker(7);" value="8"> Village</option>
                    <option onClick="bounceMarker(8);" value="9"> Norton</option>
                    <option onClick="bounceMarker(9);" value="10"> UC</option>
                    <option onClick="bounceMarker(10);" value="11"> Library</option>
                    <option onClick="bounceMarker(11);" value="12"> Moore</option>
                    <option onClick="bounceMarker(12);" value="13"> Reynolds</option>
                    <option onClick="bounceMarker(13);" value="14"> McKee</option>
                    <option onClick="bounceMarker(14);" value="15"> Albright/Benton</option>
                    <option onClick="bounceMarker(15);" value="16"> Harrill</option>
                    <option onClick="bounceMarker(16);" value="17"> Central</option>
                    <option onClick="bounceMarker(17);" value="18"> OneStop</option>
                    <option onClick="bounceMarker(18);" value="19"> Coulter</option>
                    <option onClick="bounceMarker(19);" value="20"> Kimmell</option>
                </select>
            </ul>
            <button type="button" onClick="clearStopMarkers();">Clear Markers</button>
        </li>
        </div>
    </ul>
{% endblock %}
