{% extends "base.html" %}
{% load static %}
{% load geojson_tags %}
<!-- Head embed -->
{% block head %}
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/css/mapstyle.css" type="text/css">
    <!--<script src="http://www.openlayers.org/api/OpenLayers.js"></script>-->
    <script src="/static/js/OpenLayers.js"></script>
    <script onload="init()"type="text/javascript">
        var map, maplayer, stopMarkerLayer,shuttleMarkerLayer, routeLayer, route;
        var shuttleByID = {};
        var pCount = 0;
        var sCount = 0;
        var numShuttles = 0;
        var stopByID = {};
        //create field to keep track of stop array length
        stopByID.length = 50;
       
       /**
         * Draws selected route on map, defaults to all-campus
         * TODO:
         *  * Make routes selectable
         *  * Default currently set in views, if I'm thining correctly,
         *    need to call a separate function in veiws and pass it whichever
         *    route ID is specified (index starts at 1 for some wtf reason.
         */
        function getRoute() {
            route = [
            {% for ShuttleRoute in routes %}
            new OpenLayers.Geometry.Point{{ShuttleRoute}}.transform(new 
                    OpenLayers.Projection("EPSG:4326"), map.getProjectionObject()),
                {% endfor %}
            ];

        }            
        /**
         * Collects shuttles using ORM and stores into an array
         */
        function getShuttles() {
            shuttleMarkerLayer.clearMarkers();
            {% for shuttle in shuttles %}
            shuttleByID[{{shuttle.VehID_id}}] = {
                    name: "{{shuttle.VehID_id}}",
                    lat: {{shuttle.Latitude}},
                    lng: {{shuttle.Longitude}},
                    eta: {{shuttle.estWait}},
                    next: "{{shuttle.NextStop}}",
                };
            numShuttles += 1;//tle.VehID_id}}");
            {% endfor %}
            addShuttleMarkers();
        }
       
         /**
         * Adds shuttles to the shuttleByID
         */
        function getStops(){
            {% for RouteStop in stops %}
              stopByID[{{RouteStop.StopID}}] = {
                  name: "{{RouteStop.name}}",
                  lat: {{RouteStop.mpoint.y}},
                  lng: {{RouteStop.mpoint.x}},
              };
              stopByID.length += 1;
            {% endfor %}
            addStopMarkers();
        }


        /**
         * Initializes and renders map. Draws all stops and routes dynamically,
         * as set in the Administration Panel. 
         * 
         * TODO: 
         *  * Shuttle markers
         */
        function init(){
            //set stopMarker size and icon
            var stopSize = new OpenLayers.Size(21,21);
            var stopIcon = new OpenLayers.Icon('/static/images/stopMarker.ico',
                                                                      stopSize);
            //Map base layer
            map = new OpenLayers.Map('map');
            maplayer = new OpenLayers.Layer.OSM("Simple OSM Map");
            map.addLayer(maplayer);

            //Stop arker base layer
            stopMarkerLayer = new OpenLayers.Layer.Markers("Stop Markers");
            map.addLayer(stopMarkerLayer);
            shuttleMarkerLayer = new OpenLayers.Layer.Markers("Shuttle Markers");
            map.addLayer(shuttleMarkerLayer);
            map.setCenter(
                    new OpenLayers.LonLat(-83.18032, 35.30872).transform(
                        new OpenLayers.Projection("EPSG:4326"),
                            map.getProjectionObject()),16);

            //Populate route/shuttles/stops 
            getShuttles();
            getStops();
            getRoute();

            //add routes to map layer
            routeLayer = new OpenLayers.Layer.Vector("Route");
            //Create new LineString based on points from route selected
            var allroute = new OpenLayers.Feature.Vector(new 
                                OpenLayers.Geometry.LineString(route));
            //set custom style for linestring --maroon color w/ width of 4px
            var routeStyle = OpenLayers.Util.applyDefaults(routeStyle,
                    OpenLayers.Feature.Vector.style['default']);
            routeStyle.strokeColor = "#CC3300";
            routeStyle.strokeWidth = 4; 
            allroute.style = routeStyle;
            //add route to layer
            routeLayer.addFeatures(allroute);
            //add layer to map.
            map.addLayer(routeLayer);
            map.addControl(new OpenLayers.Control.LayerSwitcher()); 
            setInterval(function() { redrawShuttles() },5000);
        } 
          function redrawShuttles() {
              console.log("inside redrawShuttles. sCount: " + sCount + ", numShuttles: " + numShuttles);
              sCount = 0;
              console.log("middle redrawShuttles. sCount: " + sCount + ", numShuttles: " + numShuttles);
              numShuttles = 0;
              getShuttles();
              shuttleMarkerLayer.redraw();
              console.log("ending redrawShuttles. sCount: " + sCount + ", numShuttles: " + numShuttles);
          }
          function addShuttleMarkers() {
            var stopSize = new OpenLayers.Size(21,21);
            var stopIcon = new OpenLayers.Icon('/static/images/shuttle.ico',
                                                                      stopSize); 
            //Add stops to map layer
            for(var i = 0; i <= numShuttles; i++) {
                //Have to clone our icon if used more than once.
                try{
                    if(sCount == 0){ 
                        shuttleMarkerLayer.addMarker(new OpenLayers.Marker(
                                    new OpenLayers.LonLat(shuttleByID[i].lng,
                                        shuttleByID[i].lat).transform(
                                            new OpenLayers.Projection("EPSG:4326"),
                                            map.getProjectionObject()),stopIcon));
                        sCount = 1;
                    } else {
                        shuttleMarkerLayer.addMarker(new OpenLayers.Marker(
                                    new OpenLayers.LonLat(shuttleByID[i].lng,
                                        shuttleByID[i].lat).transform(
                                            new OpenLayers.Projection("EPSG:4326"),
                                            map.getProjectionObject()),
                                    stopIcon.clone()));
                    }
                } catch (err) {
                }
            }
        }


        function addStopMarkers() {
            var stopSize = new OpenLayers.Size(21,21);
            var stopIcon = new OpenLayers.Icon('/static/images/stopMarker.ico',
                                                                      stopSize); 
            //Add stops to map layer
            for(var i = 0; i <= stopByID.length; i++) {
                //Have to clone our icon if used more than once.
                try{
                    if(pCount == 0){ 
                        stopMarkerLayer.addMarker(new OpenLayers.Marker(
                                    new OpenLayers.LonLat(stopByID[i].lng,
                                        stopByID[i].lat).transform(
                                            new OpenLayers.Projection("EPSG:4326"),
                                            map.getProjectionObject()),stopIcon));
                        pCount = 1;
                    } else {
                        stopMarkerLayer.addMarker(new OpenLayers.Marker(
                                    new OpenLayers.LonLat(stopByID[i].lng,
                                        stopByID[i].lat).transform(
                                            new OpenLayers.Projection("EPSG:4326"),
                                            map.getProjectionObject()),
                                    stopIcon.clone()));
                    }
                } catch (err) {
                }
            }
        }
    </script>                                                   
{% endblock %}
<!-- Content override -->
{% block content %}
<!-- Nasty, but we have to do it to load the map. -->
<body onload="init()"/>

<div id="map" style="height:790px"></div>
{% endblock %}

<!-- Sidebar override -->
{% block sidebar %}
    <ul id="side-menu">
        <div class="first">
        <li class="first">Routes
            <ul id="first2">
                <li class="first"><a onClick="toggleRoute(0);">All-Campus</a></li>
                <li class="first"><a onClick="toggleRoute(1);">Village Express</a></li>
                <li class="first"><a onClick="toggleRoute(2);">HHS Express</a></li>
                <li class="first"><a onClick="toggleRoute(3);">Off-Campus North</a></li>
                <li class="first"><a onClick="toggleRoute(4);">Off-Campus South</a></li>
            </ul>
        </li>
        </div>
        <div class = "last">
        <li class="last">Stops
            <ul>
                <select class="content" size="20">
                    <option onClick="bounceMarker(0);" value="1"> N. Baseball</option>
                    <option onClick="bounceMarker(1);" value="2"> S. Baseball</option>
                    <option onClick="bounceMarker(2);" value="3"> Ramsey</option>
                    <option onClick="bounceMarker(3);" value="4"> Field House</option>
                    <option onClick="bounceMarker(4);" value="5"> Bardo Arts Center</option>
                    <option onClick="bounceMarker(5);" value="6"> Dining Hall</option>
                    <option onClick="bounceMarker(6);" value="7"> Walker</option>
                    <option onClick="bounceMarker(7);" value="8"> Village</option>
                    <option onClick="bounceMarker(8);" value="9"> Norton</option>
                    <option onClick="bounceMarker(9);" value="10"> UC</option>
                    <option onClick="bounceMarker(10);" value="11"> Library</option>
                    <option onClick="bounceMarker(11);" value="12"> Moore</option>
                    <option onClick="bounceMarker(12);" value="13"> Reynolds</option>
                    <option onClick="bounceMarker(13);" value="14"> McKee</option>
                    <option onClick="bounceMarker(14);" value="15"> Albright/Benton</option>
                    <option onClick="bounceMarker(15);" value="16"> Harrill</option>
                    <option onClick="bounceMarker(16);" value="17"> Central</option>
                    <option onClick="bounceMarker(17);" value="18"> OneStop</option>
                    <option onClick="bounceMarker(18);" value="19"> Coulter</option>
                    <option onClick="bounceMarker(19);" value="20"> Kimmell</option>
                </select>
            </ul>
            <button type="button" onClick="clearStopMarkers();">Clear Markers</button>
        </li>
        </div>
    </ul>
{% endblock %}
